@import "tailwindcss";
@font-face {
    font-family: gtc;
    src: url(../fonts/gtc/400.woff2) format("woff2");
}
@font-face {
    font-family: gtc-i;
    src: url(../fonts/gtc/400i.woff2) format("woff2");
}
@font-face {
    font-family: gtc-b;
    src: url(../fonts/gtc/600.woff2) format("woff2");
}
@font-face {
    font-family: utd-cond;
    src: url(../fonts/utd-cond/400.woff2) format("woff2");
}
@font-face {
    font-family: utd-cond-i;
    src: url(../fonts/utd-cond/400i.woff2) format("woff2");
}
@font-face {
    font-family: utd-cond-bold;
    src: url(../fonts/utd-cond/600.woff2) format("woff2");
}
@font-face {
    font-family: utd-cond-semi-bold;
    src: url(../fonts/utd-cond/500.woff2) format("woff2");
}
@theme {
    --color-dark-gray:#161616;
    --color-dark-red:#ae0000;
    --color-light-white:#F5F5F1;
    --color-sky-blue:#3358d5;
    --color-dark-black:#2b343e;
    --color-dark-blue:#485083;
    --color-light-red:#ae0000;
    --color-light-red-hover:#d50000;
    --color-dark-red:#9a0000;
    --ease-arrow: cubic-bezier(.4,0,.2,1);
    --warby-cut: 23.8888888889vh;
    --font-gtc-400: 'gtc','sans';
    --font-gtc-400-i:'gtc-i','sans';
    --font-gtc-400-b:'gtc-b','sans';
    --font-utd-cond:'utd-cond','sans';
    --font-utd-cond-i:'utd-cond-i','sans';
    --font-utd-cond-b:'utd-cond-bold','sans';
    --font-utd-cond-semi-bold:'utd-cond-semi-bold','sans';
}
html{
    scrollbar-width: 0;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: 0;
}
#scroller{
    position: fixed;
    height: 100dvh;
    top: 0;
    z-index: 40;
    pointer-events: none;
}
.scroller{
    overflow: hidden;
    position: relative;
    height: 50%;
    margin-top: 23vh;
}
#track{
    background-color: var(--color-dark-gray);
    height: 100%;
    width: 100%;
}
#bar{
    position: absolute;
    top: -100%;
    height: 100%;
    width: 100%;
    background: #fff;
    transition: top 0.1s ease-in-out;
}
.constrained{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.main_text{
    font-size:calc(1rem + 8vw);
    width: 90%;
    line-height: 1;
    max-width: calc(100%-100px);
}
/* nav related classes */
.nav_expanded{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: calc(100vw - 1rem);
    max-width: 20rem;
    background-color: var(--color-dark-gray);
    z-index: 160;
    transform: translateX(-20rem);
}
.nav_expanded.active{
    transform: translateX(0rem);
}

.ham_left,.ham_right{
    left: 0;
    transition:
    top 0.3s ease,
    transform 0.3s ease,
    left 0.3s ease;
}
.ham_left{
    top: 6px;
}
.ham_right{
    top: 18px;
}
.menuBtn.merge .ham_left,
.menuBtn.merge .ham_right{
    top: 12px;
}
.menuBtn.rotate .ham_left,
.menuBtn.rotate .ham_right{
    transform: rotate(90deg);
}
.menuBtn.split .ham_left{
    left: -8px;
}
.menuBtn.split .ham_right{
    left: 8px;
}


/* backgrounds */
.apple_bg{
    background-image: url(../img/bg-apple.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    transform: scale(1.4);
}
.apple_sq{
    background-image: url(../img/sq-apple.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.warby_bg{
    background-color: #00a1e1;
}
.mgm_bg{
    background-image: url(../img/bg-mgm.jpg);
    background-position: 50%;
    background-size: cover;
    transform: scale(1.4);
}
.mgm_sq{
    background-image: url(../img/sq-mgm.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.warby_sq{
    background-image: url(../img/sq-warby.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.riteaid_bg{
    background: linear-gradient(to bottom right, #e62542, #c8102e 40%, #950b38);
}
.riteaid_sq{
    background-image: url(../img/sq-riteaid.png);
    background-size:cover ;
    background-repeat: no-repeat;

}
.crunchbase_bg{
    background: linear-gradient(170deg, #a4c8db 10%, #e6e9ef 40%, #9faad3);
}
.crunchbase_sq{
    background-image: url(../img/sq-crunch.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.whitehouse_bg{
    background-image: url(../img/bg-whitehouse.png);
    background-position: 50%;
    background-size: cover;
    transform: scale(1.4);
}
.whitehouse_sq{
    background-image: url(../img/sq-whitehouse.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.press_bg{
    background-image: url(../img/press-bg.jpg);
    background-position: 50%;
    background-size: cover;
    transform: scale(1.4);
}
.press_sq{
    background-image: url(../img/press-sq.png);
    background-size: cover;
    background-repeat: no-repeat;
    filter: drop-shadow(12px 12px 25px rgb(0, 0, 0));
}
.invest_bg{
    background-image: url(../img/invest-bg.jpg);
    background-position: 50%;
    background-size: cover;
    transform: scale(1.4);
}
.invest_sq{
    background-image: url(../img/invest-sq.png);
    background-size: contain;
    background-repeat: no-repeat;
}


.warby_blur{
    filter: blur(.2941176471vw);
    clip-path: polygon(0 0, calc(50% - var(--warby-cut)) 0, calc(50% - var(--warby-cut)) 100%, calc(50% + var(--warby-cut)) 100%, calc(50% + var(--warby-cut)) 0, 100% 0, 100% 100%, 0 100%);
}
.warby_blur.before{
    clip-path: polygon(0 0, calc(50% - var(--warby-cut)) 0, calc(50% - var(--warby-cut)) 100%, calc(50% + var(--warby-cut)) 100%, calc(50% + var(--warby-cut)) 0, 100% 0, 100% 100%, 0 100%);
    filter: blur(.2941176471vw);
}
.warby_blur.after{
    clip-path: polygon(calc(50% - var(--warby-cut)) 0, calc(50% + var(--warby-cut)) 0, calc(50% + var(--warby-cut)) 100%, calc(50% - var(--warby-cut)) 100%);
}



/* animation */
.wrapper_box{
    animation: fill-red-box 2s linear forwards;
}
.box{
    animation: fill-black-box 1s ease-in forwards;
}
.scroll_invisible{
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 0;
}
.scroll_visible{
    opacity: 1;
    z-index: 10;
}
.visible_box{
    visibility: visible;
    opacity: 1;
    transition: opacity 1s;
}
#secret_red{
    transition: stroke-dashoffset 0.1s linear;
}
.fade_in{
    animation: fade-in 0.5s ease-in-out forwards;
}
@keyframes fill-red-box {
    from{
        width: 70vh;
        height: 70vh;
    }
    to{
        width: 47vh;
        height: 47vh;

    }
}
@keyframes fill-black-box {
    from{
        width: 0vh;
        height: 0vh;
    }
    to{
        width: 44.8vh;
        height: 44.8vh;

    }
}
@keyframes fade-in {
    from{
        transform: translateY(34px);
        scale: 1;
        opacity: 0;

    }
    to{
        transform: translateY(0px);
        scale: 1.03;
        opacity: 1;
    }
}

/* media queries */
@media (max-width:440px) {
    .company_p{
        width: 16rem;
    }
}
@media (max-width: 768px) {
    #scroller {
        left: .9375rem;
        width: .375rem;
    }
    .main_text{
        font-size:calc(1rem + 12vw);
    }
}

@media(min-width:1024px){
    .constrained{
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}
#scroller{
    right: 1.875rem; 
    width: 0.625rem;
}
.scroller{
    height: 70%;
    margin-top: 15vh;
}
    }
@media(min-width:1280px){
    .constrained{
    padding-left: 5rem;
    padding-right: 5rem;
}
    }
@media(min-width:1536px){
    .constrained{
    max-width: 1536px;
}
    }
